html,
body {
  height: 1000px;
  width: 100%;
  margin: 0;
  padding: 0;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
}

* {
  box-sizing: border-box;
}

:root {
  --main-color: red;
  --secondary-color: green;
  --third-color: blue;
}

/* -- HEADER --- */
.header {
  width: 100%;
  min-height: 70%;
  margin-top: 60px;
  background-color: #FFB38E;
  overflow: hidden;
  position: relative;
}
.header__title {
  color: brown;
  font-size: 90px;
  margin: 0;
}
.header__desc {
  background-color: white;
  width: fit-content;
  padding: 20px;
  border-radius: 25px;
  max-width: 500px;
}
.header__text {
  padding: 50px;
  position: relative;
  z-index: 2;
}
.header__decoration-img {
  position: absolute;
  height: 500px;
  top: 100px;
  right: 150px;
  border-radius: 50%;
  box-shadow: rgba(14, 30, 37, 0.12) 0px 2px 4px 0px, rgba(14, 30, 37, 0.32) 0px 2px 16px 0px;
}
.header__background-decoration-img {
  position: absolute;
  height: 100%;
  right: 0;
  bottom: 0;
}

/* --- NAV --- */
.nav {
  position: fixed;
  z-index: 999;
  top: 0;
  height: 60px;
  width: 100%;
  justify-content: space-between;
  align-items: center;
  background-color: white;
  box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px, rgba(60, 64, 67, 0.15) 0px 2px 6px 2px;
}
.nav__logo {
  align-items: center;
  padding: 5px;
}
.nav__logo-website {
  height: 50px;
}
.nav__logo-social-media {
  height: 40px;
  padding: 5px;
}
.nav__logo-text {
  color: black;
  font-family: Georgia, "Times New Roman", Times, serif;
  margin: 0px 10px 0px 10px;
  padding: 0;
  font-size: 30px;
  white-space: nowrap;
}
.nav__link-wrapper-mobile {
  flex-direction: column;
  width: 100%;
  display: none;
}

/* --- PRODUCT-CARD ---*/
.product-section {
  justify-content: space-evenly;
  padding-top: 20px;
  background-color: white;
}

.product-card {
  background-color: #FFCF9D;
  height: auto;
  width: 350px;
  padding: 25px;
  margin: 5px;
  border-radius: 20px;
  justify-items: center;
}
.product-card__img {
  border-radius: 25px;
  align-self: center;
}
.product-card__title {
  font-size: 30px;
  padding: 0;
  margin: 20px 0px;
}
.product-card__desc {
  margin: 0px;
}
.product-card--small {
  width: 250px;
}

.tag--bestseller::after {
  content: "bestseller";
  display: block;
  color: yellow;
  font-size: 16px;
}
.tag--new::after {
  content: "new";
  display: block;
  color: green;
  font-size: 16px;
}

/* --- OPINIONS --- */
.opinion-section {
  background-color: #e9c6af;
}

.opinion-card {
  background-color: green;
  height: 300px;
  width: auto;
  padding: 20px;
  border-radius: 25px;
}
.opinion-card__img {
  height: 164px;
  border-radius: 25px;
}
.opinion-card__title {
  font-size: 30px;
  padding: 0;
  margin: 20px 0px;
}
.opinion-card__desc {
  margin: 0px;
}

/* --- HISTORY --- */
.history-section {
  padding: 25px;
  background-color: #e9c6af;
}

.history {
  background-color: yellow;
}
.history__img {
  border-radius: 25px;
}
.history__title {
  font-size: 50px;
  margin: 25px;
}
.history__desc {
  font-size: 25px;
  margin: 25px;
}

/* --- NEWSLETTER --- */
.newsletter-section {
  background-color: #e9c6af;
  padding: 30px 30px 30px 30px;
}

.newsletter {
  padding: 80px;
  background-color: var(--main-color);
  color: var(--third--color);
  /* color: white; */
}
.newsletter__small-title {
  border-bottom: 1px solid var(--third--color);
}
.newsletter__title {
  font-size: 40px;
  font-weight: bold;
}
.newsletter__text-form {
  width: 400px;
  height: 45px;
  border: 2px solid var(--third--color);
  margin: 10px;
}
.newsletter__submit {
  color: var(--main-color);
  background-color: var(--secondary-color);
  border: none;
  height: 45px;
  padding: 0px 20px;
  font-weight: 900;
}
.newsletter__submit:hover {
  cursor: pointer;
}

/* --- LOCATIONS --- */
.locations {
  background-color: #FFB26F;
}

/* --- LINK --- */
.link {
  text-decoration: none;
  color: black;
}
.link--nav {
  background-color: whitesmoke;
  padding: 30px 30px 10px 30px;
  font-size: 16px;
  height: 70px;
}
.link--nav:hover {
  color: #c6453f;
}
.link--header {
  font-size: 25px;
  width: 150px;
  padding: 10px;
  text-align: center;
  border-radius: 20px;
  color: white;
  font-family: Georgia, "Times New Roman", Times, serif;
  font-weight: bold;
  background-color: #c6453f;
}
.link--header:hover {
  filter: brightness(1.5);
}
.link--mobile {
  color: white;
  background-color: black;
  height: 100%;
  padding: 10px;
  align-content: center;
  text-align: center;
  font-size: 20px;
  font-weight: 900;
  cursor: pointer;
  display: none;
}

/* --- WRAPPER --- */
.wrapper {
  display: flex;
  flex-wrap: wrap;
}
.wrapper--column {
  flex-direction: column;
}
.wrapper--row {
  flex-direction: row;
}
.wrapper--break {
  flex-basis: 100%;
  height: 0;
}
.wrapper--nowrap {
  flex-wrap: nowrap;
}
.wrapper--center {
  justify-content: center;
  align-items: center;
}

/* --- FOOTER --- */
.footer {
  width: 100%;
  height: 50px;
  background-color: #DE8F5F;
}

/* --- DIVIDER --- */
.divider {
  width: 100%;
}

/* --- SWIPER --- */
.swiper {
  width: 100%;
  height: 100%;
}
.swiper-slide {
  text-align: center;
  font-size: 18px;
  background-color: #e9c6af;
  display: flex;
  justify-content: center;
  align-items: center;
}

#map {
  height: 300px;
}

/* --- VISIBLE --- */
.visible--flex {
  display: flex;
}
.visible--block {
  display: block;
}

/* --- MEDIA QUERIES --- */
/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (max-width: 866px) {
  .nav__link-wrapper {
    display: none;
  }
  .link--mobile {
    display: block;
  }
}
@media only screen and (max-width: 1046px) {
  .nav__social-media-wrapper {
    display: none;
  }
  .header__decoration-img {
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
}
@media only screen and (max-width: 1340px) {
  .header__decoration-img {
    filter: blur(5px);
  }
}

/*# sourceMappingURL=main.css.map */
