html,
body
    height: 1000px
    width: 100%
    margin: 0
    padding: 0
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif
*
    box-sizing: border-box

:root
    --main-color: red
    --secondary-color: green
    --third-color: blue

/* -- HEADER --- */

.header
    width: 100%
    min-height: 60%
    margin-top: 60px
    // background-image: url(../img/header-background.jpg)
    // background-image: url(../img/test2.jpg)
    // background-image: url(../img/test1.png)
    background-color: rgb(233, 198, 175)
    overflow: hidden
    position: relative
    &__title
        // color: peachpuff
        color: white
        font-size: 104px
        margin: 0
        text-shadow: 0 1px 0 #ccc, 0 2px 0 #c9c9c9, 0 3px 0 #bbb, 0 4px 0 #b9b9b9, 0 5px 0 #aaa, 0 6px 1px rgba(0, 0, 0, .1), 0 0 5px rgba(0, 0, 0, .1), 0 1px 3px rgba(0, 0, 0, .3), 0 3px 5px rgba(0, 0, 0, .2), 0 5px 10px rgba(0, 0, 0, .25), 0 10px 10px rgba(0, 0, 0, .2), 0 20px 20px rgba(0, 0, 0, .15)
    &__desc
        background-color: white
        width: fit-content
        padding: 20px
        border-radius: 25px
        max-width: 500px
    &__text
        padding: 50px
        position: relative
        z-index: 2
    &__decoration-img
        position: absolute
        height: 300px
        top: 50px
        right: 100px
/* --- NAV --- */
.nav
    position: fixed
    z-index: 999
    top: 0
    height: 60px
    width: 100%
    justify-content: space-between
    align-items: center
    background-color: white
    box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px, rgba(60, 64, 67, 0.15) 0px 2px 6px 2px
    &__logo
        align-items: center
        padding: 5px
    &__logo-website
        height: 50px
    &__logo-social-media
        height: 40px
        padding: 5px
    &__logo-text
        color: black
        font-family: Georgia, 'Times New Roman', Times, serif
        margin: 0px 10px 0px 10px
        padding: 0
        font-size: 30px
        white-space: nowrap
    &__link-wrapper-mobile
        flex-direction: column
        width: 100%
        display: none

/* --- SECTIONS --- /*

.section
    position: relative
    &__title
        font-size: 60px
        text-align: center
        margin: 0
        padding: 10px
        color: white
        text-shadow: 0 1px 0 #ccc, 0 2px 0 #c9c9c9, 0 3px 0 #bbb, 0 4px 0 #b9b9b9, 0 5px 0 #aaa, 0 6px 1px rgba(0, 0, 0, 0.1), 0 0 5px rgba(0, 0, 0, 0.1), 0 1px 3px rgba(0, 0, 0, 0.3), 0 3px 5px rgba(0, 0, 0, 0.2), 0 5px 10px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.2), 0 20px 20px rgba(0, 0, 0, 0.15)
    &-product
        justify-content: space-evenly
        background-color: white
        background-color: rgb(116, 89, 81)
    &-opinion
        background-color: #e9c6af
    &-history
        padding: 25px
        background-color: #cf9f7f
    &-newsletter
        background-color: #e9c6af
        padding: 30px 30px 30px 30px

/* --- PRODUCT-CARD ---*/
.product-card
    background-color: #FFCF9D
    height: auto
    width: 350px
    padding: 25px
    margin: 5px
    border-radius: 20px
    justify-items: center
    &__img
        border-radius: 25px
        align-self: center
    &__title
        font-size: 30px
        padding: 0
        margin: 20px 0px
    &__desc
        margin: 0px
    &--small
        width: 250px
.tag
    &--bestseller::after
        content: 'bestseller'
        display: block
        color: yellow
        font-size: 16px
    &--new::after
        content: 'new'
        display: block
        color: green
        font-size: 16px

/* --- OPINIONS --- */
.opinion-card
    background-color: #6d4a25
    min-height: 200px
    min-width: 150px
    width: auto
    padding: 15px
    border-radius: 25px
    &__img
        height: 100px
        width: 100px
        border-radius: 25px
    &__title
        font-size: 16px
        color: white
        padding: 0
        margin: 20px 0px
    &__personal-info
        padding: 10px
        align-items: center
    &__desc
        margin: 0px
        padding: 10px
        background-color: #ad7a43
        border-radius: 20px
        color: black
    &__rating
        justify-content: center
        &-img
            height: 26px

/* --- HISTORY --- */
.history-card
    &__img
        border-radius: 25px
    &__title
        font-size: 50px
        margin: 25px
    &__desc
        font-size: 25px
        margin: 25px

/* --- NEWSLETTER --- */
.newsletter
    padding: 80px
    background-color: var(--main-color)
    color: var(--third--color)

    &__small-title
        border-bottom: 1px solid var(--third--color)
    /* color: white; */

    &__title
        font-size: 40px
        font-weight: bold

    &__text-form
        width: 400px
        height: 45px
        border: 2px solid var(--third--color)
        margin: 10px

    &__submit
        color: var(--main-color)
        background-color: var(--secondary-color)
        border: none
        height: 45px
        padding: 0px 20px
        font-weight: 900

    &__submit:hover
        cursor: pointer

/* --- LOCATIONS --- */

.locations
    background-color: #FFB26F
/* --- LINK --- */

.link
    text-decoration: none
    color: black
    &--nav
        // border-left: 1px solid black
        background-color: whitesmoke
        padding: 30px 30px 10px 30px
        font-size: 16px
        height: 70px
        &:hover
            color: brown
    &--header
        font-size: 25px
        width: 150px
        padding: 10px
        text-align: center
        margin-top: 50px
        color: white
        font-weight: bold
        background-color: brown
        &:hover
            filter: brightness(1.5)
    &--mobile
        color: white
        background-color: black
        height: 100%
        padding: 10px
        align-content: center
        text-align: center
        font-size: 20px
        font-weight: 900
        cursor: pointer
        display: none

/* --- WRAPPER --- */
.wrapper
    display: flex
    // flex-wrap: wrap
    &--column
        flex-direction: column
    &--column-wrap
        flex-direction: column
        flex-wrap: wrap
    &--row
        flex-direction: row
    &--row-wrap
        flex-direction: row
        flex-wrap: wrap
    &--break
        flex-basis: 100%
        height: 0
    &--nowrap
        flex-wrap: nowrap
    &--center
        justify-content: center
        align-items: center

/* --- FOOTER --- */

.footer
    width: 100%
    height: 50px
    background-color: #DE8F5F

/* --- DIVIDER --- */

.divider
    width: 100%
    &--absolute-bottom
        position: absolute
        bottom: 0
    &--absolute-top
        position: absolute
        top: 0

/* --- SWIPER --- */

.swiper
    width: 100%
    height: 100%
    &-slide
        text-align: center
        font-size: 18px
        background-color: #e9c6af
        display: flex
        justify-content: center
        align-items: center
    &-pagination
        position: static !important
        margin: 20px 0px
        &-bullet
            background-color: brown !important
            width: 50px !important
            border-radius: 0px !important
#map
    height: 300px

/* --- VISIBLE --- */

.visible
    &--flex
        display: flex
    &--block
        display: block

/* --- MEDIA QUERIES --- */
/* Small devices (portrait tablets and large phones, 600px and up) */
// @media only screen and (min-width: 600px) ...

@media only screen and (max-width: 550px)
    .header
        &__title
            font-size: 60px

@media only screen and (max-width: 866px)
    .nav
        display: block
        &__link-wrapper
            display: none
    .link
        &--mobile
            display: block
    .header
        margin-top: 120px
        &__text
            position: absolute
            top: 50%
            transform: translate(0%,-50%)
    .opinion-card
        &__personal-info
            flex-direction: column
        &__rating
            font-size: 12px
@media only screen and (max-width: 1046px)
    .nav
        &__social-media-wrapper
            display: none
    .header
        &__decoration-img
            top: 50%
            left: 50%
            transform: translate(-50%,-50%)
            display: none
        &__title
            text-align: center
    .link
        &--header
            align-self: center
    .opinion-card
        flex-direction: column
        &__desc
            display: none
    .history-card
        flex-direction: column
