html,
body {
  height: 1000px;
  width: 100%;
  margin: 0;
  padding: 0;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
}

* {
  box-sizing: border-box;
}

:root {
  --main-color: red;
  --secondary-color: green;
  --third-color: blue;
}

/* -- HEADER --- */
.header {
  width: 100%;
  height: 70%;
  margin-top: 70px;
  background-color: lightsalmon;
}
.header__title {
  font-size: 90px;
  margin: 0;
}
.header__text {
  padding: 50px 0px 0px 50px;
}
.header__decoration-img {
  position: absolute;
  height: 500px;
  top: 150px;
  right: 150px;
  border-radius: 50%;
  box-shadow: rgba(14, 30, 37, 0.12) 0px 2px 4px 0px, rgba(14, 30, 37, 0.32) 0px 2px 16px 0px;
}
.header__background-decoration-img {
  height: 100%;
  float: right;
}

/* --- NAV --- */
.nav {
  position: fixed;
  z-index: 999;
  top: 0;
  height: 70px;
  width: 100%;
  padding: 5px;
  justify-content: space-between;
  align-items: center;
  background-color: white;
  box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px, rgba(60, 64, 67, 0.15) 0px 2px 6px 2px;
}
.nav__logo {
  align-items: center;
}
.nav__logo-website {
  height: 60px;
}
.nav__logo-social-media {
  height: 30px;
}
.nav__logo-text {
  color: black;
  font-family: Georgia, "Times New Roman", Times, serif;
  margin: 0px 10px 0px 10px;
  padding: 0;
  font-size: 30px;
}

/* --- PRODUCT-CARD ---*/
.products {
  justify-content: space-around;
  margin: 20px;
  flex-wrap: wrap;
}

.product-card {
  background-color: red;
  height: 500px;
  width: 350px;
  padding: 20px;
  border-radius: 25px;
  justify-items: center;
}
.product-card__img {
  border-radius: 25px;
}
.product-card__title {
  font-size: 30px;
  padding: 0;
  margin: 20px 0px;
}
.product-card__desc {
  margin: 0px;
}

/* --- OPINIONS --- */
.opinion-card {
  background-color: green;
  height: 300px;
  width: 500px;
  padding: 20px;
  border-radius: 25px;
}
.opinion-card__img {
  height: 164px;
  border-radius: 25px;
}
.opinion-card__title {
  font-size: 30px;
  padding: 0;
  margin: 20px 0px;
}
.opinion-card__desc {
  margin: 0px;
}

/* --- HISTORY --- */
.history {
  margin: 25px;
  background-color: yellow;
}
.history__img {
  border-radius: 25px;
}
.history__title {
  font-size: 50px;
  margin: 25px;
}
.history__desc {
  font-size: 25px;
  margin: 25px;
}

/* --- NEWSLETTER --- */
.newsletter {
  padding: 80px;
  margin: 30px 30px 30px 30px;
  text-align: center;
  justify-items: center;
  background-color: var(--main-color);
  color: var(--third--color);
  /* color: white; */
}
.newsletter__small-title {
  border-bottom: 1px solid var(--third--color);
}
.newsletter__title {
  font-size: 40px;
  font-weight: bold;
}
.newsletter__text-form {
  width: 400px;
  height: 45px;
  border: 2px solid var(--third--color);
  margin: 10px;
}
.newsletter__submit {
  color: var(--main-color);
  background-color: var(--secondary-color);
  border: none;
  height: 45px;
  padding: 0px 20px;
  font-weight: 900;
}
.newsletter__submit:hover {
  cursor: pointer;
}

/* --- LOCATIONS --- */
.locations {
  background-color: purple;
}

/* --- LINK --- */
.link {
  text-decoration: none;
  color: black;
  padding: 10px;
}
.link--nav {
  border-left: 1px solid black;
  padding: 30px 30px 10px 30px;
  font-size: 20px;
  height: 70px;
}
.link--header {
  font-size: 25px;
  width: 150px;
  text-align: center;
  border-radius: 20px;
  color: white;
  font-family: Georgia, "Times New Roman", Times, serif;
  font-weight: bold;
  background-color: rgb(243, 133, 89);
}
.link:hover {
  filter: brightness(1.5);
}

/* --- WRAPPER --- */
.wrapper {
  display: flex;
}
.wrapper--column {
  flex-direction: column;
}
.wrapper--row {
  flex-direction: row;
}
.wrapper--break {
  flex-basis: 100%;
}

/* --- FOOTER --- */
.footer {
  width: 100%;
  height: 50px;
  background-color: orange;
}

/* --- DIVIDER --- */
.divider {
  width: 100%;
}

/* --- SWIPER --- */
.swiper {
  width: 100%;
  height: 100%;
}
.swiper-slide {
  text-align: center;
  font-size: 18px;
  background: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
}

#map {
  height: 300px;
}

/*# sourceMappingURL=main.css.map */
